<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SUGBAG
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
        
    body
        section.pc_screen
            p We Only Support Mobile Screens

        section.mobile_srceen
            
            main.main
                block content 

        header.header
            i.m.fas.fa-bars
            p SB
            a(href="/search")
                i.s.fas.fa-search

               
        .pBox
    
        .h_link
            .h_link__col1 
                .h_link__col1__1 
                    a(href="")

                    p 호텔
                .h_link__col1__2 
                    a(href="")
                    p 모텔
                .h_link__col1__3 
                    a(href="")
                    p 펜션
            .h_link__col2 
                .h_link__col2__1 
                    a(href="")
                    p 리조트
                .h_link__col2__2 
                    a(href="")
                    p 캠핑
                .h_link__col2__3 
                    a(href="")
                    p 글램핑
            .h_link__col3 
                .h_link__col3__1 
                    a(href="")
                    p 게스트 하우스
                .h_link__col3__2 
                    a(href="")
                    p 한옥
                


            
        .board
            .board__main 
            
            
            
           

        footer.footer

            