<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SUGBAG
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
        
    body
        section.pc_screen
            p We Only Support Mobile Screens

        section.mobile_srceen
            
            main.main
                block content 

        header.header
            i.m.fas.fa-bars
            p SB
            a(href="/search")
                i.s.fas.fa-search

               
        .pBox
            p.pBox__p SB

        .h_link

        .news
            .news__col1 col1
            .news__col2 clo2
            
            
           

        footer.footer

            