<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SUGBAG
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet")
        
    body
        section.pc_screen
            p We Only Support Mobile Screens

        section.mobile_srceen
            

            header.header
                a(href="/menu")
                    i.m.fas.fa-bars
                a(href="/")
                    p SB
                a(href="/search")
                    i.s.fas.fa-search
            main.main
                block content

            footer.footer
                .p__col1 (주)다모여
                div.eamil 
                    a(href="mailto:wjddmswls0403@gmail.com") 대표이메일 : wjddmswls0403@gamil.com

        