<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SUGBAG
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet")

    body
        section.pc_screen
            p We Only Support Mobile Screens

        section.mobile_srceen
            
            main.main
                block content 

        header.header
            a(href="/")
                i.fas.fa-bed.fa-2x  
                
            section.search 
                form(action="#" method="get")
                    input(type="text" name="searchValue" placeholder="검색하세요")
                    input(type="submit" value="검색")

        footer.footer
            div
            a(href="/") HOME

            div
            a(href="/area") AREA

            div
            a(href="/basket") HEART

            div
            a(href="/profile") MY

                   
            
