extends ./base.pug

block content  
    form(action="#" method="post")
        div
            Label(for="product_name") 건물 이름
            input(type="text" id="Product_name" name="Product_name" placeholder="숙박 시설의 이름을 작성하세요")

        div
            Label(for="product_type") 건물 타입
            input(type="text" id="product_type" name="product_type" placeholder="숙박 건물의 타입을 작성하세요")

        div
            Label(for="product_price") 예약 가격
            input(type="text" id="product_price" name="product_price" placeholder="숙박 예약가격을 작성하세요")

        div
        