extends ./base.pug

block content  

    header.header
            i.m.fas.fa-bars
            p SB
            a(href="/search")
                i.s.fas.fa-search

               
    .pBox
    
    .h_link
        .h_link__col1 
            .h_link__col1__1 
                a(href="/hotel")
                    i.fas.fa-hotel
                    p 호텔
            .h_link__col1__2 
                a(href="/motel")
                    i.fas.fa-building
                    p 모텔
            .h_link__col1__3 
                a(href="/pension")
                    i.fas.fa-warehouse
                    p 펜션
        .h_link__col2 
            .h_link__col2__1 
                a(href="/resort")
                    i.fas.fa-warehouse
                    p 리조트
            .h_link__col2__2 
                a(href="/camping")
                    i.fas.fa-campground
                    p 캠핑
            .h_link__col2__3 
                a(href="/glamping")
                    i.fas.fa-map-signs
                    p 글램핑
        .h_link__col3 
            .h_link__col3__1 
                a(href="/guest house")
                    i.fas.fa-door-closed
                    p 게스트 하우스
            .h_link__col3__2 
                a(href="/hanok")
                    p 한옥
                


            
    .room
        .room__enrollment

 
            
            
            
           

    footer.footer
        p.p__col1 회사소개 | 이용약관 | 개인정보처리방침 | 사업자정보 
        p.p__col1 | 다모여마케팅 
        p.P__col2 주소 : 대한민국 충청남도 공주시 대표 : 정은진 
        div.eamil 
            a(href="mailto:wjddmswls0403@gmail.com") 대표이메일 : wjddmswls0403@gamil.com


              