extends ./base.pug

block content  


   


    
    .imgBox
    
    .h_link
        .h_link__col1 
            .h_link__col1__1 
                a(href="/hotel")
                    p 호텔
            .h_link__col1__2 
                a(href="/motel")
                        p 모텔
            .h_link__col1__3 
                a(href="/pension")
                    p 펜션
        .h_link__col2 
            .h_link__col2__1 
                a(href="/resort")
                    p 리조트
            .h_link__col2__2 
                a(href="/camping")
                    p 캠핑
            .h_link__col2__3 
                a(href="/glamping")
                    p 글램핑
        .h_link__col3 
            .h_link__col3__1 
                a(href="/guest house")
                    
                    p 게스트 하우스
            .h_link__col3__2 
                a(href="/hanok")
                    p 한옥
                


            
    .newRoom
        .newRoom__enrollment1
            p 공주 최초의 4성급 호텔
        .newRoom__enrollment2
            p 공주 리뷰 5점대 캠핑장
        

 
            
            
            
           

    
            
