
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        section.search 
            form(action="/" method="get")
                select(name="seq") 
                    option(value="hotel") 호텔
                    option(value="motel") 모텔
                    option(value="camping") 캠핑
                    option(value="glamping") 글램핑
                    option(value="resort") 리조트
                    option(value="hanok") 한옥
                    option(value="pension") 펜션

                input(type="text", name="searchValue" placeholder="입력하세요")
                input(type="submit" value="Serch")