extends ./base.pug

block content  

    section.search
        form(action="#" method="post")
            input(type="text" name="searchValue" placeholder="검색어를 입력해주세요.")
            input(type="button" value="search") 

