@import "./reset.css";
@import "./main.css";
@import "./search.css";
@import "./hotel.css";
@import "./menu.css";
@import "./create.css";

@media screen and (min-width: 450px) {
  .mobile_srceen {
    display: none;
  }

  .pc_screen {
    width: 100%;
    height: 100vh;
    background-color: rgb(21, 62, 133);
    color: rgb(227, 225, 225);
    font-size: 42px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pc_screen p {
    text-shadow: 1px 1px 1px black;
  }
}

@media screen and (max-width: 451px) {
  .pc_screen {
    display: none;
  }

  .mobile_srceen {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .header {
    width: 100%;
    height: 7%;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #999;

    position: fixed;
    top: 0;

    left: 0;
    right: 0;
  }

  .header .m {
    margin-left: 6px;
    font-size: 22px;
  }

  .header p {
    font-size: 30px;
    font-weight: 600;

    margin-left: 148px;

    color: rgb(0, 0, 0);
  }

  .header .s {
    font-size: 22px;
    margin-left: 140px;
  }

  .main {
    width: 100%;
    height: 300%;
  }

  a {
    font-family: "Varela Round", sans-serif;
  }

  .footer {
    width: 100%;
    height: 30%;
    background-color: rgb(174, 174, 174);
    bottom: 0;
  }

  .footer .p__col1 {
    font-size: 13px;
    padding: 3px;
    margin-left: 13px;
  }

  .footer .p__col2 {
    font-size: 10px;
    padding: 3px;
    margin-left: 13px;
  }

  .footer .eamil {
    font-size: 13px;
    margin: 0px 10px 10px 10px;
    padding: 10px;
  }
}
