@import "./reset.css";
@import "./FHeader.css";

@media screen and (min-width: 450px) {
  .mobile_screen {
    display: none;
  }

  .pc_screen {
    width: 100%;
    height: 1000px;
    background-color: rgb(21, 62, 133);
    color: rgb(227, 225, 225);
    font-size: 42px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pc_screen p {
    text-shadow: 1px 1px 1px black;
  }
}

@media screen and (max-width: 451px) {
  .pc_screen {
    display: none;
  }

  .mobile_srceen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .main {
    width: 100%;
  }

  a {
    font-family: "Varela Round", sans-serif;
  }
}
